<!DOCTYPE html>
<html lang="en">
  <head>
    <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1">
    <title>Naomi Yael Gutstein</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- contributed libraries -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <script src="js/bootstrap.min.js"></script>
    <link href="css/style.css" rel="stylesheet">
  </head>

  <body background= "images/background5.jpeg">
<!--     <div class="naomi-photos">
      <img src="images/background5.jpeg">
      <img src="images/background6.jpeg">
      <img src="images/background1.jpeg">
    </div> -->
    
  </body>
</html>